---
---

@import "jekyll-theme-minimal";

:root {
  --cell-vertical-gap: 20px;
}

section {
  width: unset;
  float: unset;
}

button {
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 10px 0;
}

.align-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.quiz-grid {
  display: grid;
  grid-template-columns: 50% repeat(5, 1fr);
}

.quiz-row {
  display: flex;
}

.quiz-question {
  flex: 1;
  margin: var(--cell-vertical-gap) 10px var(--cell-vertical-gap) 0;
}

.quiz-radio {
  padding: var(--cell-vertical-gap) 0;
}

.quiz-radio {
  width: 100%;
  text-align: center;
}

.quiz-radio-option-strongly-support, .quiz-radio-option-strongly-oppose {
  background: #fbbd8a;
}

.quiz-radio-option-support, .quiz-radio-option-oppose {
  background: #f6dac1
}

.quiz-radio.quiz-header {
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (screen and max-width:767px) {
  .quiz-grid {
    grid-template-columns: repeat(5, 1fr);
  }

  .quiz-question {
    grid-column: 1 / 6;
  }

  .quiz-question.quiz-header {
    display: none;
  }
}